<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TODO</title>
  <style media="screen">
    body {
      background-color: papayawhip;
    }

    h1.weekend {
      color: #FF00FF;
    }

    h1.weekday {
      color: #34DDDD;
    }
  </style>
</head>

<body>

  <h1><%= kindOfDay %></h1>

</body>

</html>
